


  .scroll {
    --smart-scroll-bar-thumb-background-active: #787878;
    --smart-scroll-bar-thumb-background-hover: #989898;
    --smart-scroll-bar-thumb-background: #c1c1c1;
    --smart-scroll-bar-size: 12px;
    --smart-scroll-bar-thumb-border-top-right-radius: 10px;
    --smart-scroll-bar-thumb-border-top-left-radius: 10px;
    --smart-scroll-bar-thumb-border-bottom-left-radius: 10px;
    --smart-scroll-bar-thumb-border-bottom-right-radius: 10px;
    /* background-image: url('../../assets/png/Rectangle10.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important ; */
    /* --smart-scroll-button-size: 10px; */
}
.smart-kanban .smart-kanban-scroll-viewer, smart-kanban {
  background: url("../../assets/png/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
